@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@100;500;600;800&display=swap');

* {
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.header {
    height: 400px;
    background-image: url("../Images/coffee-bgnd.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-top: 1px solid transparent;
    padding-top: 1px; */
    /* padding-top: 133px;
    box-sizing: border-box; */


}

h1 {
    font-size: 100px;
    font-family: 'Covered By Your Grace', cursive;
    color: rgba(3, 150, 100, 0.75);
    text-align: center;
    padding-top: 130px;
    /* margin-top: 132px; */
}
.main {
    position: relative;
}
.left, .right {
    position: absolute;
    top: 0;
    width: 49%;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.left >div, .right > div {
    margin: 100px 0;
    border-bottom: 1px solid #e4bb97;
    padding-bottom: 60px;
    height: 100px;
    overflow-y: auto;
}



.main div > h2 {
    font-weight: 800;
    font-size: 28px;
    background-color: #aa8eb5;
    text-align: center;
    text-transform: uppercase;
}
.main div > p {
    color: #444;
    font-size: 20px;
    text-align: justify;
    text-indent: 32px; 
    line-height: 1.5;
    padding: 0 10px;
} 
.main div > a {
    color: #214e34;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}